body{background-color:#0c223a;color:#fff}.rk-header{background-color:#133960;background:linear-gradient(90deg,#133960,#1b7aba 50%,#133960);color:hsla(0,0%,100%,.7);height:40px}.rk-sign-in:hover{color:#fff;text-decoration:underline}.rk-sidebar{background-color:#0f2a48!important}.rk-sidebar .nav-link{color:#fff}.rk-sidebar .rk-sidebar-header{border-top-color:hsla(0,0%,100%,.1);color:hsla(0,0%,100%,.7)}.rk-main .rk-content-title{color:#1b7aba}
