html, body {
  height: 100%;
}

// Header Bar
.rk-header {
  height: 40px;
}

.rk-header .navbar-brand {
  margin-right: 5px;
  text-transform: uppercase;
}

.rk-sign-in, .rk-sign-in:active, .rk-welcome {
  color: inherit;
  text-decoration: none;
}

.rk-sign-in:hover {
  text-decoration: underline;
}

// Sidebar
.rk-sidebar {
  height: 100%;
}

.rk-sidebar .rk-sidebar-header {
  border-top-width: 1px solid;
  border-top-style: solid;
  border-radius: 0px;
  font-size: 0.85rem;
  text-transform: uppercase;
}

.rk-sidebar .nav-item {
  font-size: 18px;
}

.rk-sidebar .rk-subnav-item {
  font-size: 16px;
  margin-left: 10px;
}

.rk-sidebar i {
  padding: 0px 10px;
}

// RK Main
.rk-main {
  margin: 0px;
}

.rk-main .rk-content {
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}

// Footer
footer a, footer a:hover, footer a:active {
  text-decoration: none;
  color: inherit;
}

footer a:hover {
  text-decoration: underline;
}