$color1: rgb(34, 34, 34) !default;
$color2: rgb(42, 42, 42) !default;
$color3: rgb(57, 57, 57) !default;
$color4: rgb(122, 122, 122) !default;
$text: white !default;

body {
  background-color: rgba($color1 , 1);
  color: rgba($text, 1);
}

.rk-header {
  background-color: rgba($color3, 1);
  background: linear-gradient(90deg, rgba($color3 ,1) 0%, rgba($color4 ,1) 50%, rgba($color3 ,1) 100%);
  height: 40px;
  color: rgba($text, 0.7);
}

.rk-sign-in:hover {
  color: $text;
  text-decoration: underline;
}

.rk-sidebar {
  background-color: rgba($color2, 1) !important;
}

.rk-sidebar .nav-link {
  color:white;
}

.rk-sidebar .rk-sidebar-header {
  border-top-color: rgba($text, 0.1);
  color:rgba($text, 0.7);
}

.rk-main .rk-content-title {
  color: $color4
}